.header-wrapper_full {
  position: fixed;
  z-index: 999;
  display: flex;
  width: 100%;
  pointer-events: none;
}

.custom-logo {
  width: 275px;

  .custom-logo-link {
    pointer-events: all;
  }
  
}

.custom-menu {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  

  .menu-gunnar-menu-container {

    #main-menu {
      margin: 0;
      margin-right: 0.5em;
      padding: 0;
      height: 100vh;
      display: flex;
      list-style: none;      
      flex-direction: column;

      li:first-child {
        height: 100%;
      }

      li {
        text-align: right
      }

      li > a{
        text-decoration: none;
        font-size: 2em;
        pointer-events: all;
      }
    }
  }
}