.wp-block-gallery {
  padding: 1em;
}

.wp-block-gallery:first-of-type {
  margin-top: 12vh;
}


.blocks-gallery-item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in, translate 1.4s ease-in;
}

.blocks-gallery-item.fade-in {
  opacity: 1;
}


.image-shift__01 {
  transform: scale(0.9);
}

.image-shift__02 {
  transform: scale(1);
}

.image-shift__03 {
  transform: scale(0.8);
}

.image-shift__04 {
  transform: scale(0.7);
}

.image-shift__05 {
  transform: scale(1);
}

.image-shift__06 {
  transform: scale(0.9);
}

.image-shift__07 {
  transform: scale(1);
}

.image-shift__08 {
  transform: scale(0.8);
}

.image-shift__09 {
  transform: scale(0.9);
}
.image-shift__10 {
  transform: scale(1);
}





